<launch>
<!-- first, roslaunch px4_code  lego_loam_px4.launch -->
    <arg name="bag_dir" default="/home/jbs/log/auto_chaser2/layerA/Hard/firstFlightSuccess.bag"/>
<!--     <arg name="bag_dir" default="/media/jbs/Samsung_T3/2020BAG/vijeon/auto_chaser2/layerA/Easy/Long8.bag"/> -->
    <arg name = "obstMinX" value = "0"/>
    <arg name = "obstMaxX" value = "13"/>
    <arg name = "obstMinY" value = "-3"/>
    <arg name = "obstMaxY" value = "5"/>
    <arg name = "obstMinZ" value = "-0.2"/>
    <arg name = "obstMaxZ" value = "0.5"/>


    <node name="play_forest" pkg="rosbag" type="play" output="log" args="$(arg bag_dir) -s 0">
    </node>

      <include file="$(find camlidar_module)/launch/perception_env.launch">
            <arg name = "is_analyze" value = "true"/>
        </include>

</launch>
