<launch>
<!-- first, roslaunch px4_code  lego_loam_px4.launch -->
    <arg name="parameter_directory" default="$(find camlidar_module)/params/bluefox_vlp16_BS.yaml"/>
    <arg name="save_directory" default="/home/"/>
    <arg name="snapshot_saving_onoff" default="false"/>
    <arg name="flag_debugimage" default="true"/>
    <arg name = "base_link_fusion" default="base_link_fusion"/>
    <arg name = "rviz" default="true"/>

    <arg name="binning_on" default="false"/>
    <arg name="software_binning_on" default="true"/>
    <arg name="software_binning_level" default="1"/>
    <arg name="triggered_on" default="true"/>
    <arg name="auto_exposure_control" default="false"/>
    <arg name="auto_gain_control" default="false"/>
    <arg name="high_dynamic_range_on" default="true"/>
    <arg name="expose_us" default="15000"/>
    <arg name="frame_rate" default="10.0"/>
    <arg name = "map_align_angle" default = "0.0"/>
    <arg name = "imshow" default = "true"/>
    <arg name = "to_center_ratio" default = "0.6"/>

    <!-- naked turtlebot  -->
    <arg name = "H_max" value = "45" />
    <arg name = "H_min" value = "0" />
    <arg name = "S_max" value = "118" />
    <arg name = "S_min" value = "39" />
    <arg name = "V_max" value = "196" />
    <arg name = "V_min" value = "53" />




   <node pkg="rosserial_python" type="serial_node.py" name="arduino_UART" args="_port:=/dev/ttyACM0 _baud:=460800" output="screen">
    </node>


    <!-- camlidar with hsv -->
    <node pkg = "camlidar_module" type = "hsv_target_pcl_extractor" name="target_hsv_extractor" output="screen">
        <param name= "map_frame" value = "/map"/>
        <param name= "baselink_id" value = "$(arg base_link_fusion)"/>
        <param name="parameter_directory" type="string" value="$(arg parameter_directory)"/>
        <param name = "imshow" value = "$(arg imshow)" />
        <param name = "flag_debugimage" value = "$(arg imshow)" />


<!--         <param name = "H_max" value = "$(arg H_max)" /> -->
<!--         <param name = "H_min" value = "$(arg H_min)"/> -->
<!--         <param name = "S_max" value = "$(arg S_max)" /> -->
<!--         <param name = "S_min" value = "$(arg S_min)" /> -->
<!--         <param name = "V_max" value = "$(arg V_max)" /> -->
<!--         <param name = "V_min" value = "$(arg V_min)" /> -->

    </node>



    <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find auto_chaser2)/rviz/realworldInput.rviz" if = "$(arg rviz)"/>



</launch>
