<launch>
    <arg name="parameter_directory" default="$(find camlidar_module)/params/bluefox_vlp16_BS.yaml"/>
    <arg name="save_directory" default="/home/"/>
    <arg name="snapshot_saving_onoff" default="false"/>
    <arg name="flag_debugimage" default="true"/>

    <node pkg="camlidar_module" type="camlidar_module" name="camlidar_module" output="screen">
      <param name="parameter_directory" type="string" value="$(arg parameter_directory)"/>
      <param name="snapshot_saving_onoff" type="bool" value="$(arg snapshot_saving_onoff)"/>
      <param name="save_directory" type="string" value="$(arg save_directory)"/>
      <param name="flag_debugimage" type="bool" value="$(arg flag_debugimage)"/>
    </node>
       
</launch>
